@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family:'Poppins', sans-serif;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('/square_bg.png');
  height: 93.5vh;
}

.home__image {
  height: 20vh;
  width: 100%;
  background: url('/food1.jpg');
  background-size: cover;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.242);
}

.app-title {
  color:white;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  margin-top: 220px;
  font-family: 'Righteous';
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh;
}

.landing{
  background-color: #222;
  padding-bottom: 13vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-background {
  background-image: url("/food.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  box-shadow: inset 0px -15px 20px 0px #222222bc;
}


.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
  
}
.login{
  margin-top: 180px;
  padding: 12px 24px;
  background-color: #ffaa00;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 80%;
  font-size: 1.6em;
  text-align: center;
}

.login:hover {
  background-color: #ffaa00bc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.login,
.continue-link {
  margin-bottom: 10px;
  text-decoration: none;
  color:#ffffff;
  transition: color 0.3s;
}

.continue-link {
  padding: 10px 20px;
  border-radius: 40px;
  margin-top: 20px;
  font-size: 1.4em;
}

.logo {
  margin: 10vh 0 20vh 0;
}

.logo-img {
  width: 150px;
  margin:0;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  margin: 20px; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 20px 10px;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-page {
  background-image: url('/square_bg.png');
}

.search-img{
  display: block;
  width: 100%;
  height: 250px;
  overflow: hidden;

}

.card-product-link{
  text-decoration: none;
  color: #333;
  font-size: 1em;

}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info__image {
  margin-bottom: 1em;
  height: 250px;
}

.product-info__image__container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.product-info__title {
  margin: 0;
  font-size: 2em;
}

.product-info__card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-info__energy-card {
  height: 8em;
  margin: 1em 0;
}

.nutrient-card {
  margin: 0.6em 0;
}

.nutrient-card__progress {
  height: 10px;
  border-radius: 20px;
}

.nutrient-card__progress-filling {
  height: 10px;
  border-radius: 20px;
}

.search-bar {
  border: 1px solid black;
  border-right: none;
  border-radius: 50px 0 0 50px;
  transition: 0.3s;
  width: 90%;
  padding: 20px 10px 20px 20px;
  margin: 20px; 
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.search-bar:hover{
  box-shadow: 0 8px 16px 0 rgba(220, 220, 220, 0.2);
}
.search-bar:focus{
  outline: none;
}

.search-form {
  display: flex;
  width: 80vw;
}

.search-form button {
  border: 1px solid black;
  background-color: white;
  border-left: none;
  border-radius: 0 50px 50px 0;
  width: 20%;
  padding: 20px 10px;
  margin: 10% 0 20px 0;
  cursor: pointer;
 }

 .nav-button {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
 }

 .nav-header {
  background-color: #333;
  height: 6.5vh;
 }

 .nav-header i {
  transform: scale(2);
 }

.nav-back {
  background-color: #333;
  transform: scale(1.3);
}

.nav-landing {
  margin: 0;
  margin-left: 20px;
  padding: 5px;
}

.nav-home {
  color: #333;
  background-color: white;
  padding: 7.5px 8.3px 6px 12px;
  font-size: 0.8em;
  width: 32px;
  height: 32px;
}

nav {
  padding: 1vh;
}
.page_not_found {
  height: 93.5vh;
  background-image: url('/cat1.png');
  background-color: #fff;
  padding-top:50px;
  background-size:cover;
  background-repeat: no-repeat;
  background-size: 450px 350px;
  background-position: center;
  margin-top:0px;
  color: red;
  text-align: center;
  font-size: 28px;
}

.not_found_error{
text-align: center;
border-radius: 40px;
background-color: #ffaa00;
border: none;
margin-top: 450px

}

.not_found_error a{
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

.user-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 769px) {

  body {
    font-size: 16px;
    height: 100vh;
  }

  .app-title {
    font-size: 80px;
  }
.landing{
  height:0px;
  padding: 0;
  margin: 0;
}
  .landing-background {
    background-image: url("/food.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
  }
  .continue-link{
    color: black
  }
  .search-form button {
    width: 10%;
  }
  .home__image {
    height: 60vh;
  }
.login{
  width:30%;
}
.not_found_error{
  margin-top: 330px;
  width: 24%;
}

}
