debug: true
server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tim
    username: tim
    password: 123
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      platform: postgresql
      mode: always
    output:
      ansi:
        enabled: always
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: ERROR